<div class="container-fluid allOfPage detailsPage">

{{#if isAdmin}}
<a class="float-right" href="/events/create">Create a New Event</a>
{{/if}}

<h2 class="section-title">Upcoming events</h2>

<div class="row upcoming">
   {{#each events}}
   {{#if this.upcoming}}

    <div class="image-block col-sm-3">
    <img class="preview-tile" src='{{this.images.[0]}}'>
    <h5 class="text-center"><a href="/events/{{this._id}}">{{this.name}}</a></h5>
       
    </div>
    {{/if}}
   {{/each}}
</div>
<br><br>
<h2 class="section-title">Past events</h2>

<div class="row past">
   {{#each events}}
   {{#unless this.upcoming}}
    <div class="image-block col-sm-3">

    <img class="preview-tile" src='{{this.images.[0]}}'>
    <h5 class="text-center"><a href="/events/{{this._id}}">{{this.name}}</a></h5>
       
    </div>
   {{/unless}}
   {{/each}}

</div>

</div>