<h3>{{theActivity.name}}</h3>
<h4>Edit this Activity</h4>

<form action="/activities/{{theActivity._id}}/update" method="post" enctype="multipart/form-data">

<label>Name:</label>
<br>
<input type="text" name="updName" value="{{theActivity.name}}">
<br>

<input type="file" name="updPic">
<br>

<label>Description:</label>
<br>
<textarea name="updDescription" cols="100" rows="5" >{{theActivity.description}}</textarea>
<br>

<label>About:</label>
<br>
<textarea name="updAbout" cols="100" rows="15" >{{theActivity.about}}</textarea>
<br>

<label>Fun Fact:</label>
<br>
<textarea name="updFunFact" cols="100" rows="5" >{{theActivity.funFact}}</textarea>
<br>

<button type="submit" class="btn btn-outline-info">Save the Changes</button>
