<h2>{{user.username}}</h2>
<h5>Edit Your Profile</h5>


<form action="/members/{{user._id}}/update" method="post">

<label>Username</label>
<input type="text" name="updUsername" value="{{user.username}}">
<br>

<label>Email</label>
<input type="text" name="updEmail" value="{{user.email}}">
<br>

<label>Phone Number:</label>
<input type="text" name="updPhoneNumber" value="{{user.phoneNumber}}">
<br>

<label>Activities of choice:</label>
{{#each activity}}

 {{#if this.yes}} 
         <label><input type="checkbox" name="updActivity" value="{{this._id}}">{{this.name}}</label>
 {{/if}}
     
 {{#unless this.yes}} 
         <label><input type="checkbox" name="updActivity" value="{{this._id}}">{{this.name}}</label>
 {{/unless}}
 {{/each}} 

<br>
<button type="submit">Save the Changes</button>


</form>