<div class="container-fluid allOfPage tileView">

<h2>Profile of {{user.username}}</h2>
<br>


<h3>Username: {{user.username}}</h3>
<h3>Email: {{user.email}}</h3>
<h3>Phone number: {{user.phoneNumber}}</h3>

<h3>Favourite activities:</h3>
<br>
<div>
{{#each user.activity}}
<h4>{{user.activity}}</h4>
{{/each}} 
</div>

<form action="/members/{{theUser._id}}/edit" method="get">
<button type="submit" class="btn btn-outline-info">Edit Your Profile</button>
</form>

</div>